# macOS
.DS_Store

# Swift Package Manager
.build
.swiftpm
Packages

# CMake
.cmake-build/

# Xcode user and build data
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Local credentials
.netrc

# Test development data root
_DataRoot
